<form>
    <label for="cf">Codice Fiscale</label>
    <input
      type="text"
      class="form-control"
      id="codiceFiscale"
      required
      [(ngModel)]="cliente.codiceFiscale"
      name="cf"
    />
 
    <label for="nome">Nome</label>
    <input
      class="form-control"
      id="nome"
      required
      [(ngModel)]="cliente.nome"
      name="nome"
    />
 
      <label for="cognome">Cognome</label>
      <input
        class="form-control"
        id="cognome"
        required
        [(ngModel)]="cliente.cognome"
        name="cognome"
      />
      <button (click)="modificaCliente(cliente)" class="btn btn-success">Inserisci il cliente!</button>
    </form>
  